@model List<LoanInventoryViewModel>
@{
    ViewData["Title"] = "Loan Inventory List";
}

<h2>Loan Inventory List</h2>
<a class="btn btn-sm btn-primary" asp-area="" asp-controller="LoanInventory" asp-action="Add">Create New Loan</a>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>NameUser</th>
        <th>Detail</th>
        <th>Admin</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.NameUser</td>
            <td>@item.Detail</td>
            <td>@item.Admin</td>
            <td>@item.Date</td>
            <td>@item.Status</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
